html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font: 300 11px/1.4 'Sora', 'sans-serif';
  color: #66c0dc;
  background-image: linear-gradient(#66c0dc, #A3BDED);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
